 <!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(text='All Users')"></head>
    <body> 
        <header th:replace="fragments/layout :: allUsersNavi"></header>
 
        <br/><br/>
        <h1>My Friends:</h1>

        <ul>
            <li th:each="friend: ${friends}">
                <a th:href="@{/users/{profile}(profile=${friend.profile})}" th:text="${friend.name}"></a> 
            </li>
        </ul>
        <h1>Possible Friends:</h1>
        <ul>
            <li th:each="user: ${possibleFriends}">  
                <a th:href="@{/users/{profile}(profile=${user.profile})}" th:text="${user.name}"></a> 
                 
            </li> 
        </ul> 
        
        <h1>Other Users:</h1>
        <ul>
            <li th:each="user: ${otherUsers}">  
                <a th:href="@{/users/{profile}(profile=${user.profile})}" th:text="${user.name}"></a> 
                <div th:if="${!user.equals(loggedUser)}">  
                    <form th:method="POST" th:action="@{/sendFriendRequestTo/{profile} (profile=${user.profile})}"><input type="submit" value="SEND FRIEND REQUEST"/></form> 
                </div>
            </li> 
        </ul> 
        
    </body>
</html>

 
 <div th:if="${isLogged}"></div>