 <!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(text='All Users')"></head>
    <body> 
        <header th:replace="fragments/layout :: allUsersNavi"></header>
 
        <br/><br/>
        <h3>MY FRIENDS:</h3> 
        <ul>
            <li th:each="friend: ${friends}">
                <a th:href="@{/users/{profile}(profile=${friend.profile})}" th:text="${friend.name}"></a> 
                <form th:method="POST" th:action="@{/removeFriend1/{profile}(profile=${friend.profile})}"><input type="submit" value="REMOVE FRIEND"/></form>
            </li>
        </ul>
        <h3>POSSIBLE FRIENDS:</h3>
        <ul>
            <li th:each="possibleFriend:${possibleFriends}">  
                <a th:href="@{/users/{profile}(profile=${possibleFriend.profile})}" th:text="${possibleFriend.name}"></a>
            </li> 
        </ul>  
        <h3>OTHER USERS:</h3>
        <ul>
            <li th:each="otherUser: ${otherUsers}">  
                <a th:href="@{/users/{profile}(profile=${otherUser.profile})}" th:text="${otherUser.name}"></a>  
                <form th:method="POST" th:action="@{/sendFriendRequestTo/{profile}(profile=${otherUser.profile})}"><input type="submit" value="SEND FRIEND REQUEST"/></form>
            </li> 
        </ul> 
        
    </body>
</html>

  