 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
<!--         <p th:text="${user.name}" ></p>
         <li th:each="request: ${requests}">
                <span th:text="${request}"></span>
                <span th:text="${request.requester}"></span>
                <span th:text="${request.date}"></span>
            </li>
         <p th:text="${requests]" ></p>
         -->
         
<!--         <form th:action="@{/manager/addNews}" th:object="user"  method="post">
 
        <label>Insert news title</label>
        <input type="text"   name="name" th:field="${name}" placeholder="News title" />
 
 
          <label>Insert news text</label>
           <textarea   name="user" th:field="${user}" placeholder="News text"></textarea>
            
           <button type="submit" >Add news</button>
            </form>  -->
         
            <form action="/action_page.php" id="usrform">
                  <!--Name: <input type="text" name="usrname">-->
               
           
<!--            <br/>-->
            <textarea rows="4" cols="50" name="comment" form="usrform">
             </textarea>
             <input type="submit" value="Send"> </form>
        
    </body>
</html>
