<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(text='Photos')"></head>
    <body> 
        <header th:replace="fragments/layout :: photosHeader"></header> 
        <div th:if="${isLogged}"><h3>MY PHOTOS:</h3></div> 
            <div th:if="${isLogged != true}"><h4  th:text="${user.name} + '´S PHOTOS:'" class="name"></h4></div>  
                <div th:if="${photos.empty}"> <span>NO PHOTOS</span></div> 
                    <div class="photos" th:if="${!photos.empty}">  
                        <div th:each="photo: ${photos}"> 
                            <div class="pic"> 
                                <img class="photo" th:src="@{/photos/{id}/content(id=${photo.id})}"/> 
                                <p th:text="${photo.title}"></p>  
                                <form th:method="POST" th:action="@{/likePhoto/{id}/{profile}(id=${photo.id},profile=${user.profile})}"><input type="submit" value="LIKE"/></form> 
                                    <div th:if="${!photo.likes.empty}"><p th:text="${photo.likes.size()} + ' LIKES'"></p></div> 
                                    <div th:if="${isLogged}">
                                        <form th:action="@{/photos/{id}(id=${photo.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
                                        <form th:action="@{/users/{profile}/photos/{id}(profile=${user.profile}, id=${photo.id})}" th:method="POST"><input type="submit" value="Set Profile Photo"/></form>                    
                                    </div> 
                                    <div class="comments">
                                        <div>
                                            <form th:method="POST" th:action="@{/commentsPhoto/{id}/by/{profile}(id=${photo.id}, profile=${user.profile})}" id="comment">                        
                                                <label for="comment">Comment:</label>
                                                <input type="text" name="content" id="comment"/> 
                                                <input type="submit" value="SEND"/>
                                            </form>
                                            <div th:each="comment: ${photo.comments}">
                                                <span th:text="${comment.sender.name}"></span>
                                                <span th:text="${comment.date}"></span>
                                                <p th:text="${comment.content}"></p> 
                                            </div>
                                        </div>
                                    </div>
                            </div> 
                        </div>
                </div> 
                <div th:if="${isLogged}">
                    <div th:if="${count < 10}"> 
                        <p>Add more photos (maximum permitted size of 1MB!):</p> 
                        <form method="POST" action="/photos" enctype="multipart/form-data"> 
                            <input type="file" name="file" id="file"/>
                            <input type="text" id="title" name="title" placeholder="title" >  
                            <input type="submit" value="ADD!"/>
                         </form>
                    </div>
                </div> 
    </body>
</html>
